<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.asus.autism_project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PlaySelect">
            <intent-filter>
                <action android:name="com.example.asus.autism_project.PlaySelect" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Letters">
            <intent-filter>
                <action android:name="com.example.asus.autism_project.Letters" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".AlarmSelect" />
        <activity android:name=".Breakfast" />

        <receiver
            android:name=".MyReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".RingtonePlayingService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".Math">
            <intent-filter>
                <action android:name="com.example.asus.autism_project.Math" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Numbers">
            <intent-filter>
                <action android:name="com.example.asus.autism_project.Numbers" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".PicturePuzzle">
            <intent-filter>
                <action android:name="com.example.asus.autism_project.PicturePuzzle" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>